@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
Feature100
    <h1 class="display-4">Application - Version 7 - Integration Github and Devops</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
